*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2px;
}

body{
    margin: 10px 10px 10px 15px;
    
    padding: 10px;
    background-color: aquamarine;
}
div{
    width: 350px;
    background-color: aliceblue;
}
table{
    margin-left: 15px;
}